.advantages {
  padding: 0 27px 47px 20px;
}

.advantages__tagline {
  @include reset;

  font-size: $font-size-headline;
  line-height: $line-height-headline;

  margin-bottom: 41px;
}

.advantages__list {
  @include list;
}

.advantages__item {
  font-family: $font-family-secondary;

  color: $secondary-color;

  padding-left: 80px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}
