.application-example {
  background-color: $palette-tertiary;

  padding: 16px 0 33px;
}

.application-example__title {
  @include reset;

  font-size: $font-size-headline;
  font-weight: 400;
  line-height: $line-height-headline;

  margin-bottom: 23px;
  padding-left: 20px;
}

.application-example__description {
  @include reset;

  font-family: $font-family-secondary;

  color: $secondary-color;

  margin-bottom: 23px;
}

.application-example__table {
  margin-bottom: 32px;

  tbody {
    display: flex;
    justify-content: space-between;

    width: 280px;

    margin-left: -2px;
  }
}

.application-example__table-row {
  width: 124px;

  padding: 13px 16px 15px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $palette-outline;
  border-radius: 3px;
}

.application-example__table-header {
  font-family: $font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: lowercase;

  color: $secondary-color;
  background-color: $palette-tertiary;

  position: absolute;
  bottom: -17px;
  left: 18px;

  width: 84px;

  text-align: center;
}

.application-example__table-data {
  font-size: 24px;
  line-height: 24px;
  text-transform: $text-transform-base;
}

.application-example__text {
  @include reset;

  line-height: $line-height-secondary;
  text-transform: $text-transform-base;

  margin-bottom: 36px;

  text-align: center;
}

.application-example__cat-image {
  width: 320px;
  height: 238px;

  margin-bottom: 27px;
}

.application-example__before,
.application-example__after {
  text-transform: $text-transform-base;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
}

.application-example__statistic {
  padding-right: 21px;
  padding-left: 20px;
}

.application-example__buttons {
  padding-left: 55px;
  padding-right: 51px;

  display: flex;
  justify-content: space-between;
}

.application-example__before {
  position: relative;

  border: none;

  background-color: inherit;

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    right: -96px;

    width: 84px;
    height: 14px;

    background-color: $palette-primary;

    border: 1px solid $palette-outline;
    border-radius: 6px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 69px;

    width: 35px;
    height: 6px;

    background-color: $palette-secondary;

    border-radius: 3px;

    z-index: 2;
  }
}

.application-example__after {
  border: none;

  background-color: inherit;
}

@media (min-width: $tablet-width) {
  .application-example {
    padding: 11px 0 0;

    background-color: $palette-primary;
  }

  .application-example__title {
    font-size: 60px;

    margin-bottom: 64px;
    padding: 0 30px;
  }

  .application-example__description {
    font-size: $font-size-secondary;
    line-height: 24px;

    margin-bottom: 56px;
  }

  .application-example__presentation {
    // временно
    min-height: 462px;

    padding: 0 30px;

    background-color: $palette-tertiary;
  }

  .application-example__statistic {
    // временно
    min-height: 462px;

    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .application-example {
    padding-top: 0;
  }

  .application-example__title {
    background-color: $palette-primary;

    padding: 0;
    padding-bottom: 69px;
    margin-bottom: 0;
  }

  .application-example__desc {
    background-color: $palette-tertiary;
  }

  .application-example__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
  }

  .application-example__statistic {
    padding: 75px 0 55px;

    width: 570px;
  }

  .application-example__presentation {
    padding: 75px 0;

    width: 730px;
  }

  .application-example__description {
    width: 430px;

    margin-bottom: 71px;
  }

  .application-example__table {
    margin-bottom: 59px;
  }
}
