$palette-hover: #5eaa2f;
$color-active: rgba(255, 255, 255, 0.3);

.button {
  font-family: $font-family-primary;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
  text-transform: $text-transform-base;

  border: none;

  padding: 11px 109px;

  color: #ffffff;

  background-color: $palette-secondary;

  &:hover,
  &:focus {
    background-color: $palette-hover;

    cursor: pointer;
  }

  &:active {
    color: $color-active;
  }

  &--small {
    font-size: $font-size-primary;
    line-height: $line-height-primary;

    padding: 11px 74px;
  }

  &--grey {
    padding: 11px 95px;

    color: $secondary-color;

    background-color: $palette-tertiary;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
