.catalog {
  padding: 25px 20px 0;
  margin: 0 auto;
}

.catalog__list {
  @include list;
}

.catalog__item {
  margin-bottom: 24px;

  &:last-child {
    padding-top: 83px;
    padding-bottom: 25px;

    margin: 0;
  }
}

.catalog__title {
  @include reset;

  font-size: $font-size-secondary;
  font-weight: 400;
  line-height: $line-height-secondary;
  text-transform: $text-transform-base;

  margin-bottom: 18px;
}

.catalog__table-row {
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 16px;

  color: $secondary-color;
}

.catalog__table-header {
  font-weight: 400;
}

.catalog__text {
  @include reset;

  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
  text-transform: $text-transform-base;

  margin-bottom: 11px;
}

.catalog__desc {
  @include reset;

  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 16px;

  color: $secondary-color;

  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 708px;
  }

  .catalog__item {
    width: 324px;
    padding: 165px 37px 40px;
    margin-top: 70px;
    margin-bottom: 70px;

    background-color: $palette-tertiary;

    &:last-child {
      background-color: $palette-primary;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0;
  }

  .catalog__list {
    width: 1220px;
  }

  .catalog__item {
    width: 245px;
  }
}
