.copyright {
  padding-top: 19px;

  display: flex;
  align-items: center;

  width: 100%;
}

.copyright__link {
  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: $font-size-secondary;
  line-height: 16px;
  text-transform: none;

  background-color: $palette-tertiary;

  color: $secondary-color;

  margin-right: auto;

  &:active {
    color: $secondary-color-active;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
