.copyright {
  padding-top: 16px;
  padding-left: 6px;

  display: flex;
  align-items: center;

  width: 100%;
}

.copyright__link {
  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: $font-size-secondary;
  line-height: 16px;
  text-transform: none;
  word-spacing: -1px;

  background-color: $palette-tertiary;

  color: $secondary-color;

  margin-right: auto;
  padding-bottom: 5px;

  &:active {
    color: $secondary-color-active;
  }
}

.copyright__link-logo {
  &:hover svg  {
    path {
      fill: $palette-secondary;
    }
  }

  &:focus svg,
  &:active svg {
    path {
      fill: $palette-secondary;
      opacity: 0.3;
    }
  }
}

.copyright__link-logo svg {
  width: 41px;
  height: 41px;
}
