.extra-products {
  padding: 31px 20px 35px;
}

.extra-products__title {
  @include reset;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  margin-bottom: 30px;
}

.extra-products__list {
  @include list;

  margin-bottom: 39px;
}

.extra-products__item {
  padding-top: 14px;
  padding-bottom: 17px;
}

.extra-products__item-title {
  @include reset;

  font-size: $font-size-secondary;
  font-weight: 400;
  line-height: 16px;
  text-transform: $text-transform-base;

  color: $tertiary-color;

  margin-bottom: 15px;
}

.extra-products__table {
  font-family: $font-family-secondary;
  line-height: 14px;

  color: $secondary-color;

  margin-bottom: 14px;
}

.extra-products__table-header {
  font-weight: 400;
}

.extra-products__gift {
  @include reset;

  padding: 190px 60px 43px;

  background-color: $palette-secondary;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  font-family: $font-family-secondary;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;

  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .extra-products {
    padding: 0 30px 76px;
  }

  .extra-products__list {
    margin-bottom: 69px;
  }

  .extra-products__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 28px 38px;
  }

  .extra-products__title {
    font-size: $font-size-headline;
    line-height: 36px;

    margin-bottom: 75px;
  }

  .extra-products__button {
    width: 100%;
  }

  .extra-products__item-title {
    font-size: 20px;
    line-height: $line-height-secondary;
  }

  .extra-products__table {
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;
  }

  .extra-products__gift {
    padding: 75px 125px 69px 424px;
  }
}

@media (min-width: $desktop-width) {
  .extra-products {
    padding: 0 0 86px;
  }

  .extra-products__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extra-products__list {
    width: 900px;

    margin-bottom: 0;
  }

  .extra-products__item {
    padding: 15px 0;
  }

  .extra-products__gift {
    width: 245px;

    padding: 190px 43px 43px;
  }

  .extra-products__button {
    width: 245px;
  }
}
