.page-header {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    padding: 24px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 53px 110px;
  }
}
