.promo {
  background-color: $palette-primary;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 20px 166px, 0 0;

  padding: 27px 20px 22px;
  margin: 0 auto;

  text-align: center;
}

.promo__headline {
  @include reset;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  color: $quaternary-color;

  margin-bottom: 25px;
}

.promo__slogan {
  @include reset;

  line-height: 14px;
  text-transform: $text-transform-base;

  color: $quaternary-color;

  margin-bottom: 302px;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 34px 30px 529px 118px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 29px 235px;

    text-align: left;
  }

  .promo__headline {
    font-size: 60px;
    line-height: 60px;

    color: $primary-color;

    width: 415px;

    margin-bottom: 41px;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;

    color: $primary-color;

    margin-bottom: 48px;
  }

  .promo__link {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 52px 0 268px 120px;

    position: relative;

    background-image: none;

    &::before {
      content: "";

      position: absolute;
      top: -29px;
      left: 490px;

      width: 552px;
      height: 499px;

      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;

      z-index: 2;
    }

    &::after {
      content: "";

      position: absolute;
      top: -171px;
      right: -69px;

      width: 720px;
      height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
    }
  }

  .promo__headline {
    margin-bottom: 40px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }
}
