.social-list {
  @include list;

  background-color: $palette-tertiary;

  padding: 23px 80px 22px;

  display: flex;
  align-items: center;

  width: 100%;

  position: relative;

  &::after,
  &::before {
    content: "";

    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $palette-decoration;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 3px;
  }
}

.social-list__item {
  position: relative;
}

.social-list__link {
  &--vk svg {
    width: 22px;
    height: 12px;

    margin-right: 36px;
  }

  &--instagram svg {
    width: 16px;
    height: 16px;

    margin-right: 41px;
  }

  &--insta-big svg {
    width: 23px;
    height: 23px;

    margin-right: 36px;
  }

  &--fb svg {
    width: 10px;
    height: 19px;
  }

  &:hover svg {
    path {
      fill: $palette-secondary;
    }
  }

  &:focus svg,
  &:active svg {
    path {
      fill: $palette-secondary;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    width: 124px;

    padding: 0;
    margin-right: auto;
  }

  .social-list::before,
  .social-list::after {
    display: none;
  }

  .social-list__link {
    &--vk svg {
      width: 30px;
      height: 16px;

      margin-right: 28px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;

      margin-right: 29px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}
