$palette-primary: #ffffff;
$palette-secondary: #68b738;
$palette-tertiary: #f2f2f2;

$primary-color: #111111;
$secondary-color: #444444;
$tertiary-color: #222222;

$font-family-primary: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", "Helvetica", sans-serif;

$font-size-primary: 14px;
$font-size-secondary: 16px;
$font-size-headline: 36px;

$line-height-primary: 18px;
$line-height-secondary: 20px;
$line-height-headline: 60px;

$text-transform-base: uppercase;
